@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.mainContainer {
  max-width: 97vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #4e66ffad, #92effd);
  min-height: 100vh;
  padding-right: 1.5vw;
  overflow-x: hidden !important;
}
.headerAndOptions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.optionsButton {
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.optionsButton:hover {
  background-color: #8080802c;
}
.eachPostCard {
  width: 70vw;
  box-shadow: 0px 0px 15px #00000076;
  border-radius: 2vw;
  margin-block: 3vw;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 2vw;
  background-color: white;
  position: relative;
  transition: transform 0.2s ease;
}
.eachPostCard:hover {
  transform: scale(1.08);
}
.gif {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.titleAndContent {
  border-radius: 1.5vw 1.5vw 0px 0px;
  background-color: #a3a3ca;
  padding: 2vw;
  color: black;
}
.title,
.body {
  padding: 10px;
  margin: 0px;
}
.title {
  font-weight: 550;
  text-align: center;
  font-size: 30px;
}
.body {
  font-size: 14px;
  line-height: 25px;
}
.tags {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin: 2vw;
}
.chips {
  margin-inline: 0.2vw;
}
.reactionAndLike {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reactions {
  margin: 0px;
  margin-left: 1.9vw;
}
.likeText {
  margin-right: 1.9vw;
  font-size: 1.2vw;
  color: #0000ff;
  font-weight: 550;
  cursor: pointer;
  padding: 0.2vw 1vw;
}
.likeText:hover {
  background-color: #92effd3d;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #67a8b2;
}
